.bg-brand-solid {
  background-color: #4D2B8C;
}

.primary-gradient {
  background: linear-gradient(135deg, #360d75 0%, #6c4bac 100%);
}

.goal-card-content {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.goal-card-active {
  background-color: #360d75 !important;
  color: white !important;
  border-color: #360d75 !important;
}

.goal-card-active .material-symbols-outlined {
  color: white !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbc3d3;
  border-radius: 10px;
}
